.root {
    -fx-background-image: url("./Images/space.png");
    -fx-padding: 10; /* Add a small padding around the window */
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

.label {
    -fx-font-size: 25px;
    -fx-text-fill: white;
}

#menu-background {
    -fx-background-image: url("./Images/space.png");
    -fx-background-size: 800 600;
}

/* for Macs */
.dialog-pane  {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}